* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
}

body {
  width: auto;
}

.img-prf {
  width: 100%;
  height: auto;
}

.container {
  display: grid;
  width: 65rem;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  margin-top: 20px;
  margin: auto;
  gap: 4rem;
  row-gap: 5rem;
}

.container-div {
  max-width: 120rem;
  text-align: center;
}
